.anim_gradient {
    background: linear-gradient(45deg, #383D3B 0%, #EEE5E9 50%, #7C7C7C 100%);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}
      
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }