.rotating-marquee {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
}

@media screen and (max-width: 767px) {

    .rotating-marquee,
    .rotating-marquee-element {
        height: 48px;
        display: block;
    }
}

@media screen and (min-width: 768px) {

    .rotating-marquee,
    .rotating-marquee-element {
        height: 24px;
        display: flex;
    }

    .marquee-pair {
        margin-right: 10px;
    }
}

.rotating-marquee-element {
    flex: 1;
    animation: desplazamiento 30s linear infinite;
    transform: translateX(100vw);
    position: absolute;
    text-align: center;
}

.rme-1 {
    animation-delay: 0s;
}

.rme-2 {
    animation-delay: 2.5s;
}

.rme-3 {
    animation-delay: 5s;
}

.rme-4 {
    animation-delay: 7.5s;
}

.rme-5 {
    animation-delay: 10s;
}

.rme-6 {
    animation-delay: 12.5s;
}

.rme-7 {
    animation-delay: 15s;
}

.rme-8 {
    animation-delay: 17.5s;
}

.rme-9 {
    animation-delay: 20s;
}

.rme-10 {
    animation-delay: 22.5s;
}

.rme-11 {
    animation-delay: 25s;
}



@keyframes desplazamiento {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(calc(-100vw/6));

    }
}