@media(max-width: 500px) {
  .url-card .url-name {
    display: none;
  }

  .url-card {
    justify-content: center;
    text-align: center;
  }

  .url-card .col-auto {
    width: 100%; /* Ocupar todo el ancho del contenedor */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
  }
}

@media screen and (min-width: 992px) and (max-width: 1300px) {
  .url-card .url-name {
    display: none;
  }

  .url-card {
    justify-content: center;
    text-align: center;
  }

  .url-card .col-auto {
    width: 100%; /* Ocupar todo el ancho del contenedor */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
  }
}

.modal-open {
    overflow: hidden;
}

.nav-link {
    color: black;
  }
  
  .nav-link.active {
    color: red;
  }

  h1 {
    font-size: 2.5em; /* Tamaño de fuente grande para destacar el título */
    font-weight: 700; /* Negrita para mayor impacto */
    color: #2c3e50; /* Color oscuro para un look profesional */
    text-align: center; /* Centrar el texto */
    margin-bottom: 20px; /* Espacio debajo del título */
    letter-spacing: 1px; /* Espaciado entre letras para un toque elegante */
  }