.tradingview-widget-copyright {
    display: none;
}

.rotating-marquee {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    height: 24px;
}

body,
html {
    overflow-x: hidden;
}

body.modal-open {
    padding-right: 0 !important;
}

.rotating-marquee-element {
    flex: 1;
    animation: desplazamiento 30s linear infinite;
    transform: translateX(100vw);
    position: absolute;
    text-align: center;
}

.rme-1 {
    animation-delay: 0s;
}

.rme-2 {
    animation-delay: 5s;
}

.rme-3 {
    animation-delay: 10s;
}

.rme-4 {
    animation-delay: 15s;
}

.rme-5 {
    animation-delay: 20s;
}

.rme-6 {
    animation-delay: 25s;
}

@keyframes desplazamiento {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(calc(-100vw/6));

    }
}